html {
  background-color: #0e0b16;
}

.calculator-container {
  border-radius: 1.75rem;
  margin: 5vh auto;
  background-color: #413a54;
  height: 80vh;
  width: 50vw;
  padding: 2rem;
}

.operations-n {
  display: flex;
  align-items: flex-end;
  width: auto;
  max-width: auto;
  
}

.operations-n #result {
  font-size: 2.75rem;
  margin-right: 1rem;
}

.display-screen {
  font-size: 5rem;
  color: red;
  background-color: lightgray;
  height: 15vh;
  padding: 2rem;
  border-radius: 0.75rem;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.display-numbers--calc {
  font-size: 4rem;
  color: red;
  box-sizing: border-box;
  border-bottom: 2px solid grey;
}

.display-numbers--current {
  margin-top: 1rem;
  font-size: 4.5rem;
  color: blue;

}

.pads-container {
  margin: 0.5rem 0;
  display: flex;
  width: 100%;
  height: 69%;
}

.numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  margin-right: 1rem;
}

.buttons-n {
  font-size: 6rem;
  text-align: center;
  width: 33.33%;
  height: 8.8rem;

  box-sizing: border-box;
  border: outset 5px grey;
  background-color: blue;
  cursor: pointer;
}

.buttons-n:hover {
  color: magenta;
}

.buttons-equal {
  background-color: white;
}

.buttons-n:nth-last-child(2) {
  background-color: red;
}

#equal {
  font-size: 6rem;
  text-align: center;
  width: 33.33%;
  height: 8.8rem;

  box-sizing: border-box;
  border: outset 5px grey;
  background-color: blue;
  cursor: pointer;
}
