.operations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20rem;
    height: 100%;
}

.buttons-o {
    font-size: 4rem;
    text-align: center;
    width: 33.33%;
    height: 17.5rem;
    padding: 20% 0;

    box-sizing: border-box;
    border: outset 5px grey;
    background-color: white;
    cursor: pointer;

}